<div>
  <h1 class="title">
    Hi there!
  </h1>
  <p class="subtitle">
    I have just finished my recruitment test. Happy bacon cloning!
  </p>
  <nav>
    <ul>
      <li><a href="/bacon">Bacon Factory</a></li>
      <li><a href="/checkout">Checkout</a></li>
    </ul>
  </nav>
</div>
